
# Playwright
node_modules/
#.env
#This is to ignore the .env file in the root directory, and use the .env file in the config directory instead
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
